<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.health_my">

    <application>
        <activity android:name=".AttentionActivity"></activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".SignActivity" />
        <activity android:name=".MyActivity" />
    </application>

</manifest>